<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.mapper.ReviewMapper">

  <resultMap  type="com.market.dto.ReviewDTO" id="review">
    <id column="product_no" property="productNo"/>
    <result column="seller_id" property="sellerId"/>
    <result column="buyer_id" property="buyerId"/>
    <result column="review" property="review"/>
    <result column="review_date" property="reviewDate"/>
    <result column="review_score" property="reviewScore"/>
  </resultMap>

 <resultMap  type="com.market.dto.ReviewListDTO" id="reviewList">
    <id column="product_no" property="productNo"/>
      <result column="MEMBER_ID" property="memberId"/>
        <result column="PRODUCT_PRICE" property="productPrice"/>
        <result column="PRODUCT_COUNT" property="productCount"/>
        <result column="PRODUCT_DATE" property="productDate"/>
        <result column="PRODUCT_STATUS" property="productStatus"/>
        <result column="PRODUCT_CONTENT" property="productContent"/>
        <result column="PRODUCT_SALE" property="productSale"/>
        <result column="PRODUCT_TITLE" property="productTitle"/>
        <result column="CATEGORY_NO" property="categoryNo"/>
        <result column="DELIVERY_NO" property="deliveryNo"/>
        <result column="TRADE_AREA" property="tradeArea"/>
        <result column="DELIVERY_CHARGE" property="deliveryCharge"/>
        <result column="PRODUCT_LIKE" property="productLike"/>
    <result column="seller_id" property="sellerId"/>
    <result column="buyer_id" property="buyerId"/>
    <result column="review" property="review"/>
    <result column="review_date" property="reviewDate"/>
    <result column="review_score" property="reviewScore"/>
    <result column="PRODUCT_IMAGE_PATH" property="productImagePath" />
    <result column="PRODUCT_IMAGE_NO" property="productImageNo" />

  </resultMap>
  
  
  <!-- Insert statements -->
  <insert id="insertReview" parameterType="com.market.dto.ReviewDTO">
     INSERT INTO REVIEW (PRODUCT_NO, BUYER_ID, SELLER_ID, REVIEW, REVIEW_SCORE) 
     VALUES (#{productNo}, #{buyerId}, #{sellerId}, #{review}, #{reviewScore})
  </insert>

  <select id="productWroteList"  resultMap="reviewList">
  select * from PRODUCT_REVIEW_VIEW
  where BUYER_ID =#{memberId}
  </select>
  
 <select id="wroteReviewList" resultMap="review">
 select * from review
 where product_no = #{productNo}
 order by review_date DESC
 </select>
 
  <delete id="reviewDelete" parameterType="map">
 delete from review
 where product_no = #{productNo}
 </delete>
 
 <update id="updateReview" parameterType="com.market.dto.ReviewDTO">
 update review set
 REVIEW =#{review},
 REVIEW_SCORE =#{reviewScore}
 where product_no = #{productNo}
 </update>

</mapper>
